body {
 background-color: orange;
 font-family: 'Quicksand', sans-serif;
}

.card_img {
    max-width: 500px;
    height: 230px;
    overflow: hidden;
}
.mycard-text{
    min-height: 60px;
}
.active-li {
color: orange;
}

.hometitle {
    font-size: 5rem;
    color: white;
}
.main-title {
 font-size: 3.5rem;
}
.jumbo {
    width: 100%;
    height: 500px;
    overflow:hidden;
}