<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:fragment="head">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
       <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
       <link rel="stylesheet" th:href="@{/css/main.css}">
       <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}">
       <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
   </th:block>
</head>
<body>
<!--NAVBAR -->
<nav class="navbar navbar-expand-lg bg-dark" th:fragment="navbar(current, showsearch, searchcontent)">
    <div class="container-md">
        <a class="navbar-brand text-white" th:href="@{/}">Experis Pizza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" th:classAppend="${current == 'pizzas' ? 'active-li' : ''}" aria-current="page" th:href="@{/pizzas}">Pizze</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" th:action="@{/pizzas}" th:if="${showsearch}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" th:value="${searchcontent}">
                <button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffc007;"></i></button>
            </form>
        </div>
    </div>
</nav>

<!--ALERT -->
<!--<th:block th:if="${message}" th:fragment="alert(alertType, alertText)">-->
<!--    <div class="alert alert-dismissible fade show"-->
<!--         th:classAppend="|${#strings.equals(alertType, 'SUCCESS') ? 'alert-success' : ''} ${#strings.equals(alertType, 'ERROR') ? 'alert-danger' : ''} ${#strings.equals(alertType, 'INFO') ? 'alert-info' : ''}|">-->
<!--        <div th:text="${alertText}"></div>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--    </div>-->
<!--</th:block>-->
    </body>
    </html>