<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments :: head}">
    <title>Experis Pizza</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar(pizzas, true, ${searchcontent})}"></nav>
<div class="container-md py-5">
    <h1 class="text-center py-5 main-title" th:if="${pizzas.size() > 0}">Le nostre pizze</h1>
    <div th:unless="${pizzas.size() > 0}" class="d-flex flex-column align-items-center py-5 gap-5">
        <h3 class="text-black fs-1 text-center">Nessuna pizza trovata</h3>
        <a th:href="@{/pizzas}" class="btn btn-dark text-white">Indietro</a>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-10 my-4" th:each="pizza : ${pizzas}" th:object="${pizza}">
            <div class="card bg-dark">
                <div class="card_img"><img th:src="*{image}" class="img-fluid rounded-1" alt="*{name}"></div>
                <div class="card-body">
                    <h5 class="card-title text-warning" th:text="*{name}"></h5>
                    <p class="mycard-text text-white" th:text="*{description}"></p>
                </div>
                <p class="bg-dark text-warning text-center fs-3 fw-bolder mb-0" th:text="|*{price} €|"></p>
                <div class="p-4">
                    <a th:href="@{|/pizzas/*{id}|}"><i class="fa-sharp fa-solid fa-pizza-slice fa-beat fa-2xl" style="color: #ffc007;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>