<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments :: head}">
    <title>Experis Pizza</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar(pizzas, true, ${searchcontent})}"></nav>
<div class="container-md py-5">
    <h1 class="text-center py-5 main-title" th:if="${pizzas.size() > 0}">Le nostre pizze</h1>
    <a th:href="@{/pizzas/create}" class="btn btn-dark mb-5" sec:authorize="hasAuthority('admin')">Crea nuova pizza</a>
    <div th:unless="${pizzas.size() > 0}" class="d-flex flex-column align-items-center py-5 gap-5">
        <h3 class="text-black fs-1 text-center">Nessuna pizza trovata</h3>
        <a th:href="@{/pizzas}" class="btn btn-dark text-white" >Indietro</a>
    </div>

    <th:block th:if="${message}">
        <div class="alert alert-dismissible fade show"
             th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-success : alert-danger">
            <div th:text="${message.text}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>

<!--    <div th:replace="~{fragments :: alert(${message.type}, ${message.text})}"></div>-->


    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-10 my-4" th:each="pizza : ${pizzas}" th:object="${pizza}">
            <div class="card bg-dark">
                <div class="card_img"><img th:src="*{image}" class="img-fluid rounded-1" alt="*{name}"></div>
                <div class="card-body">
                    <h5 class="card-title text-warning" th:text="*{name}"></h5>
                    <p class="mycard-text text-white" th:text="*{description}"></p>
                </div>
                <p class="bg-dark text-warning text-center fs-3 fw-bolder mb-0" th:text="|*{price} €|"></p>
                <div class="p-4 d-flex align-items-center justify-content-between mt-4 crud_btns">
                    <a title="Mostra dettagli" th:href="@{|/pizzas/*{id}|}"><i class="fa-sharp fa-solid fa-pizza-slice fa-beat fa-2xl" style="color: #ffc007;"></i></a>
                    <a title="Modifica" th:href="@{|/pizzas/edit/*{id}|}" sec:authorize="hasAuthority('admin')"><i class="fa-solid fa-pen fa-2xl" style="color: #ffc007;"></i></a>
                    <a title="Elimina" th:href="@{|/pizzas/delete/*{id}|}" sec:authorize="hasAuthority('admin')"><i class="fa-solid fa-trash fa-2xl" style="color: #ffc007;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>