<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments :: head}">
    <title>Experis Pizza</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar(pizzas)}"></nav>
<div class="container-md py-5">
    <h1 class="text-center py-5">Le nostre pizze</h1>
    <h3 th:unless="${pizzas.size() > 0}" class="text-warning text-center">Non sono presenti pizze</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-10 my-4" th:each="pizza : ${pizzas}" th:object="${pizza}">
            <div class="card bg-dark">
                <div class="card_img"><img th:src="*{image}" class="img-fluid rounded-1" alt="*{name}"></div>
                <div class="card-body">
                    <h5 class="card-title text-warning" th:text="*{name}"></h5>
                    <p class="mycard-text text-white" th:text="*{description}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-warning" th:text="|*{price} €|"></li>
                </ul>
                <div class="card-body">
<!--                    <a href="#" class="card-link">view details</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>