<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments :: head}">
    <title th:text="|Experis Pizza - ${pizza.name}|"></title>
</head>
<body>
<nav th:replace="~{fragments :: navbar(pizza, false, searchcontent)}"></nav>
<div class="container-md">

    <th:block th:if="${message}">
        <div class="alert alert-dismissible fade show mt-5"
             th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-success : alert-danger">
            <div th:text="${message.text}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>

  <div class="row py-5" th:object="${pizza}">
    <div class="col-lg-6 col-sm-12">
      <img th:src="*{image}" th:alt="*{name}" class="img-fluid rounded-2">
    </div>
    <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center gap-3">
      <div class="bg-dark p-4 rounded-2 my-4 my-lg-0">
        <h2 th:text="*{name}" class="fs-1 text-warning"></h2>
        <p th:text="*{description}" class="fs-2 text-white"></p>
        <p th:text="|*{price} €|" class="fs-2 text-danger"></p>
      </div>
      <a class="fs-3 bg-dark text-warning text-decoration-none w-50 p-4 rounded-2 mt-auto mb-5 mb-lg-0 d-block" th:href="@{/pizzas}"><i class="fa-solid fa-chevron-left fa-bounce fa-lg me-2" style="color: #ffc007;"></i> Torna alle pizze</a>
    </div>
  </div>

<!--    OFFERTE SPECIALI -->

    <h2>Offerte Speciali</h2>
    <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-dark my-4">Aggiungi nuova offerta</a>
    <table class="table" th:object="${pizza}" th:if="${pizza.offers.size() > 0}">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data inizio</th>
            <th scope="col">Data fine</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : *{offers}" th:object="${offer}">
            <td th:text="${offer.title}"></td>
            <td th:text="${#temporals.format(offer.startingDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(offer.finishDate, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{|/offers/edit/*{id}|}" title="Modifica" class="text-black"><i class="fa-solid fa-pen"></i></a>
                <a th:href="@{|/offers/delete/*{id}|}" title="Elimina" class="text-black ms-3"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${pizza.offers.size() == 0}">Non ci sono offerte speciali per questa pizza</div>
</div>
</body>
</html>